@page "/"
@layout Layout.EmptyLayout
@using Svgs

<PageTitle>Home</PageTitle>

<h1>Página Inicial</h1>

<IconTitleButton 
    Title="Adicionar Item" 
    ButtonText="Adicionar">
    <Icon>
        <PlusCircleIcon Width="24" Height="24" Color="#007bff" />
    </Icon>
</IconTitleButton>
