@page "/"

<PageTitle>Home</PageTitle>

@using System.Collections.Generic

<h1 style="text-align: center;">Sistema ITSM</h1>

<div class="boxContainer">

    <div class="box">
        
    </div>


</div>

