@inherits LayoutComponentBase

<div class="bg_gradient">
    @Body
</div>

<style>
    .bg_gradient {
        min-height: 100vh;
        background: linear-gradient(to bottom, #2563eb, #1e40af);
    }
</style>
